<div class="container_full">
  <div class="container_right btnWhat">
      <a href="#" class="link">Atendimento Whatsapp <br/>Clique Aqui</a><img src="assets/img/img_whatsapp.png" width="40" height="37" class="imgWhat"/>
  </div>
</div>
<div class="rodape">
    <div class="row">
        <div class="col-sm">      
            <p>
                AUMAR Engenharia & Instalações<br/>
                Rua: professor Souza barros 125  Vila Guarani - São Paulo.<br/>
                <i class="fa fa-phone"></i>&nbsp;11 4236-0167  &nbsp;<i class="fa fa-phone"></i>&nbsp;11 9 85339211<br/>
                <i class="fa fa-envelope-o"></i>&nbsp;antonio.udvary.au@gmail.com<br/>
                <i class="fa fa-envelope-o"></i>&nbsp;comercial@aumarinstalacoes.com.br<br/><br/>
            </p>
          </div> 
          <div class="col-sm">      
              <p align="center">
                  <img src="assets/img/img_whatsapp.png" width="30" height="30">&nbsp;
                  <img src="assets/img/img_whatsapp.png" width="30" height="30">&nbsp;
                  <img src="assets/img/img_whatsapp.png" width="30" height="30">
              </p>
            </div>      
    </div>
  
    <p class="alinhamento"><i class="fa fa-copyright"></i>&nbsp; 2019 AUMAR Engenharia & Instalações. Todo os Direitos Reservados.</p>
  </div>