

.btnWhat{
    width: 100px;
    height: 100px;
    padding: 15px;
    font-size: 10px;
    text-align: center;
    color: white;
    background-color: #48a5ac;
    border-radius: 12px;    
}

.imgWhat{
    position: absolute;
    z-index: 4;
    right: -10px;
    top: -10px;
}

.link{
    font-size: 10px;
    color: white;
}

.alinhamento {
    text-align: center;
}