.container_full{
    width: 90%;
    height: 50px;
}
.container_right {
    position:relative;
    width: 200px;
    height: 30px;
    float: right; 
    color: red;
    color: white;
}


.rodape {
    padding-top: 25px;
    padding-left: 200px;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    height: 230px;
    background-color: #2b6f7a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}

.btnWhat{
    width: 180px;
    height: 50px;
    padding: 15px;
    font-size: 10px;
    text-align: center;
    color: white;
    background-color: #48a5ac;
    border-radius: 8px;  
    z-index: -4;  
}

.imgWhat{
    position: absolute;
    z-index: 4;
    right: -10px;
    top: -10px;
}

.link{
    font-size: 10px;
    color: white;
}

.alinhamento {
    text-align: center;
}
