      <br /><br /><br /><br />
      <div class="container_atuacao">
        <p class="tAtuacao">
          SERVIÇOS
        </p>
      </div>
      
      <div class="container_meio">
      <div class="container_left">
        <img src="assets/banner/aparelhos.png">
      </div>      
      <div class="container_right">
        <p><strong>Principais serviços prestados</strong></p>
            <p class="ConteudoEngenharia">
              Serviços de Engeharia<br/>
              Levantamento, projeto de redes de gases<br/>
            </p>
      </div>
      </div>
     