<div class="container_full">
    <p>
        PRINCIPAIS CLIENTES
      </p>
</div>
<p></p>
<div class="container">
        <table width="100%" cellspacing="10" cellpadding="10">
               
                <tr>
                  <td align="left"><img src="assets/banner/aparelhos.png"   width="400" height="200">
                   <legend>Teste</legend>
                </td>
                  <td align="center"><img src="assets/banner/aparelhos.png" width="400" height="200"></td>
                  <td align="right"><img src="assets/banner/aparelhos.png"  width="400" height="200"></td>
                </tr>
                <br />
                <tr>
                  <td align="left"><img src="assets/banner/aparelhos.png" alt="Paredes" width="400" height="200"></td>
                  <td align="center"><img src="assets/banner/aparelhos.png" alt="Corredor" width="400" height="200"></td>
                  <td align="right"><img src="assets/banner/aparelhos.png" alt="Parede" width="400" height="200"></td>
                </tr>
          
              </table>
</div>


