<div class="container_full">
    <p>
        PRINCIPAIS CLIENTES
      </p>
</div>
<p></p>
<div class="container">
        <table width="100%" cellspacing="10" cellpadding="10">
               
                <tr>
                  <td align="center"><img src="assets/banner/aparelhos.png"   width="400" height="200">
                   <legend class="tLegend">Grupo Fleury</legend>
                </td>
                  <td align="center"><img src="assets/banner/aparelhos.png" width="400" height="200">
                  <legend class="tLegend">Santa casa de São Jose dos Campos</legend>
                  </td>
                  <td align="center"><img src="assets/banner/aparelhos.png"  width="400" height="200">
                  <legend class="tLegend">Hospital Edmundo de Vasconcelo</legend>
                  </td>
                </tr>
                <br />
                <tr>
                  <td align="center"><img src="assets/banner/aparelhos.png" alt="Paredes" width="400" height="200">
                    <legend class="tLegend">Clinica Premium Care</legend>
                  </td>
                  <td align="center"><img src="assets/banner/aparelhos.png" alt="Corredor" width="400" height="200">
                    <legend class="tLegend">Hospital São Lucas de Taubaté</legend>
                  </td>
                  <td align="center"><img src="assets/banner/aparelhos.png" alt="Parede" width="400" height="200">
                    <legend class="tLegend">Hospital das Clinicas</legend>
                  </td>
                </tr>
                <br />
                <tr>
                  <td align="center"><img src="assets/banner/aparelhos.png" alt="Paredes" width="400" height="200">
                    <legend class="tLegend">Prefeitura Municipal de São Paulo</legend>
                  </td>
                  <td align="center"><img src="assets/banner/aparelhos.png" alt="Corredor" width="400" height="200">
                    <legend class="tLegend">Centro Universitário São Camilo</legend>
                  </td>
                </tr>
          
              </table>
</div>


