<div class="container_full">
    <p>
        PRINCIPAIS CLIENTES
      </p>
</div>
<p></p>
<div class="container">
        <table width="100%" cellspacing="10" cellpadding="10">
               
                <tr>
                  <td align="center"><img src="assets/img_portfolio/GrupoFleury.png" alt="Grupo Fleury"   width="356" height="242">
                   <legend class="tLegend">Grupo Fleury</legend>
                </td>
                  <td align="center"><img src="assets/img_portfolio/SantaCasaSaoJoseCampos.png" alt="Santa Casa São Jose dos Campos" width="356" height="242">
                  <legend class="tLegend">Santa Casa de São Jose dos Campos</legend>
                  </td>
                  <td align="center"><img src="assets/img_portfolio/HospitalEdmundoVasconcelo.png" Alt="Hospital Edmundo de Vasconcelo" width="355" height="241">
                  <legend class="tLegend">Hospital Edmundo de Vasconcelo</legend>
                  </td>
                </tr>
                <br />
                <tr>
                  <td align="center"><img src="assets/img_portfolio/ClinicaPremiumCare.png" alt="Clinica Premium Care" width="355" height="241">
                    <legend class="tLegend">Clinica Premium Care</legend>
                  </td>
                  <td align="center"><img src="assets/img_portfolio/HospitalSaoLucasTaubate.png" alt="Hospital São Lucas Taubaté" width="355" height="241">
                    <legend class="tLegend">Hospital São Lucas de Taubaté</legend>
                  </td>
                  <td align="center"><img src="assets/img_portfolio/HospitalClinicas.png" alt="Hospital das Clinicas" width="355" height="241">
                    <legend class="tLegend">Hospital das Clinicas</legend>
                  </td>
                </tr>
                <br />
                <tr>
                  <td align="center"><img src="assets/img_portfolio/PrefeituraSaoPaulo.png" alt="Prefeitura Municipal de São Paulo" width="355" height="241">
                    <legend class="tLegend">Prefeitura Municipal de São Paulo</legend>
                  </td>
                  <td align="center"><img src="assets/img_portfolio/UniversitarioSaoCamilo.png" alt="Centro Universitário São Camilo" width="355" height="242">
                    <legend class="tLegend">Centro Universitário São Camilo</legend>
                  </td>
                </tr>
          
              </table>
</div>


