<div class="container_full">
  <img src="assets/banner/banner.png" width="1530" height="284">
</div>
<div class="container">
  <p class="tHome">
    CONHEÇA ALGUMAS DAS OBRAS EXECUTADAS<br /> PELA AUMAR ENGENHARIA & INSTALAÇÕES
  </p>
</div>
<div class="container_meio">
  <div class="container_left">
    <table width="100%">
      <tr>
        <td colspan="3" class="Tesquerda">FOTOS DE INSTALAÇÕES</td>
      </tr>
      <tr>
        <td align="left"><img src="assets/banner/img1.png" width="200" height="150" class="img"></td>
        <td align="center"><img src="assets/banner/img1.png" width="200" height="150" class="img"></td>
        <td align="right"><img src="assets/banner/img1.png" width="200" height="150" class="img"></td>
      </tr>
      <br />
      <tr>
        <td align="left"><img src="assets/banner/img1.png" width="200" height="150" class="img"></td>
        <td align="center"><img src="assets/banner/img1.png" width="200" height="150" class="img"></td>
        <td align="right"><img src="assets/banner/img1.png" width="200" height="150" class="img"></td>
      </tr>

    </table>
  </div>
  <div class="container_centro">
    <table>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>
  <div class="container_right">
    <table width="100%">
      <tr>
        <td class="Tdireita">ALGUNS DOS NOSSOS CLIENTES</td>
      </tr>
      <tr align="left">
        <td><img src="assets/banner/img_cliente.png" width="717" height="350" class="img"></td>
      </tr>
    </table>
  </div>
</div>
<br /><br /><br /><br />
<div class="container_atuacao">
  <p class="tAtuacao">
    ÁREA DE ATUAÇÃO
  </p>
</div>
<div class="container_meio">
<div class="container_left">
  <p>Engenharia Mecânica</p>
  <p>Os serviços prestados pela AUMAR ENGENHARIA E INSTALAÇÕES, é essencialmente voltado á área de mecânica, pois </p>
</div>
<div class="container_centro">
  <table>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
<div class="container_right">
  <table  width="100%">
     <tr align="left">
      <td><img src="assets/banner/img_cliente.png" width="717" height="350" class="img"></td>      
    </tr>
  </table>
</div>
</div>
