    
<div class="container_full">
    <p>
        Excelência na prestação de serviços de gases medicininais, industriais.
      </p>
</div>

<div class="espacamento">
  <p></p>
  <h2 class="tEmpresa">Empresa</h2>
<p class="textoEmpresa">
  Fundada em março e 2017, a <strong>AUMAR</strong> nasceu do sonho de se continuar uma atividade da qual seu fundador tinha <br/> conhecimento e que a realizava com dedicação.
</p>
<h2 class="tEmpresa">Missão</h2>
<p class="textoEmpresa">
  Proporcionar conforto às pessoas, ajudar os hospitais, clinicas e empresas a aumentar seus processos produtivos e antender com mais eficiência.
</p>
<h2 class="tEmpresa">Visão</h2>
<p class="textoEmpresa">
  Ser referência em oferecer experiência com ética e respeito.
</p>
<h2 class="tEmpresa">Valores</h2>
<p class="textoEmpresa">
  Ética, profissionalismo, conhecimento, doação e compartilhamento.
</p>
</div>

