<div class="container_full">
  <img src="assets/banner/banner.png" width="1530" height="284">
</div>
<div class="container">
  <p class="tHome">
    CONHEÇA ALGUMAS DAS OBRAS EXECUTADAS<br /> PELA AUMAR ENGENHARIA & INSTALAÇÕES
  </p>
</div>
<div class="container_meio">
  <div class="container_left">
    <table width="100%">
      <tr>
        <td colspan="3" class="Tesquerda">FOTOS DE INSTALAÇÕES</td>
      </tr>
      <tr>
        <td align="left"><img src="assets/banner/aparelho.png" alt="Aparelho" width="200" height="150" class="img"></td>
        <td align="center"><img src="assets/banner/cadeiras.png" alt="Cadeiras" width="200" height="150" class="img"></td>
        <td align="right"><img src="assets/banner/divisorias.png" alt="Divisorias" width="200" height="150" class="img"></td>
      </tr>
      <br />
      <tr>
        <td align="left"><img src="assets/banner/paredes.png" alt="Paredes" width="200" height="150" class="img"></td>
        <td align="center"><img src="assets/banner/corredor.png" alt="Corredor" width="200" height="150" class="img"></td>
        <td align="right"><img src="assets/banner/parede.png" alt="Parede" width="200" height="150" class="img"></td>
      </tr>

    </table>
  </div>
  <div class="container_centro">
    <table>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>
  <div class="container_right">
    <table width="100%">
      <tr>
        <td class="Tdireita">ALGUNS DOS NOSSOS CLIENTES</td>
      </tr>
      <tr align="left">
        <td><img src="assets/banner/img_cliente.png" width="717" height="350" class="img"></td>
      </tr>
    </table>
  </div>
</div>
<br /><br /><br /><br />
<div class="container_atuacao">
  <p class="tAtuacao">
    ÁREA DE ATUAÇÃO
  </p>
</div>
<!-- Texto Engenharia Mecânica -->
<div class="container_meio">
<div class="container_left">
  <p class="TEngenharia">Engenharia Mecânica</p>
  <p class="ConteudoEngenharia">Os serviços prestados pela AUMAR ENGENHARIA E INSTALAÇÕES, é essencialmente voltado á área de mecânica, pois envolve resistência dos materiais, desenhos mecânicos e projetos, mecãnicas dos fluidos, gases e suas formas de comportamento e condução, materiais de aplicações compatíveis com os tipos de gás, que podem ser inertes ou corrosivos, altas pressões especificações de equipamentos mecânicos com compressores, bombas de vácuo e vasos de pressão que são aplicados em clientes industriais e medicinais.</p>
</div>
<div class="container_centro">
  <table>
    <tr>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
<div class="container_right">
  <table  width="100%">
     <tr align="left">
      <td><img src="assets/banner/engenharia.png" alt="Engenharia Mecânica" width="717" height="350" class="img"></td>      
    </tr>
  </table>
</div>
</div>
<br/><br/><br/>
<div class="container_meio">
  <div class="container_left">
  <p class="ConteudoEngenharia">
    É de fundamental importância a elaboração de um projeto de redes de gases em conjunto com o cliente, analisando suas necessidades, e suas aplicações especificas, para que a construção das redes de condução dos gases, tanto medicinais como industriais, atendam aos requisitos de segurança, de materiais e de boas práticas de engenharia, na especificações dos materiais, seus acabamentos e a instalação em si, para se garantir a qualidade do produto, evitando contaminações.<br/><br/>
    Conforme a norma ABNT (NBR 12188), Resolução RDC - 50 e normas especificas da ANVISA, que regem estes serviços, os materiais têm que ser adequados de acordo com o gás a ser a utilizado.</p>
    </div>
  <div class="container_centro">
    <table>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>
  <div class="container_right">
    <table  width="100%">
       <tr align="left">
        <td><img src="assets/banner/aparelhos.png" alt="Aparelhos" width="717" height="350" class="img"></td>      
      </tr>
    </table>
  </div>
  </div>
<br/><br/>


