<div class="container_full">
<div class="container_left">
  <div class="img">
    <a routerLink=""><img src="assets/logo/logo.png"></a>
  </div>
</div>
<div class="container_centro">
    <nav class="navbar navbar-light menu">
        <li routerLinkActive="active"><a class="navbar-brand" routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a class="navbar-brand" routerLink="/empresa">Empresa</a></li>
        <li routerLinkActive="active"><a class="navbar-brand" routerLink="/servicos">Serviços</a></li>
        <li routerLinkActive="active"><a class="navbar-brand" routerLink="/portolio">Porfólio</a></li>
        <li routerLinkActive="active"><a class="navbar-brand" routerLink="/contato">Contato</a></li>
      </nav>  
</div>
<div class="container_right">
  <span class="botao">
      <button type="button" class="btn btn-success">Consulte um Engenheiro</button>
  </span>
    
</div>
</div>